@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  opacity: 1 !important;
  visibility: visible !important;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}